body{
 background:#0f172a;
 color:white;
 text-align:center;
 font-family:Arial;
}
input,button{
 padding:10px;
 margin:5px;
 border-radius:8px;
}
button{
 background:#16a34a;
 color:white;
 border:none;
}
li{
 margin:10px;
}